
.main-component .fixed-bottom {
    position: fixed;
    bottom: 0;
    margin-top : 2rem;
    /* margin-bottom: 2rem; */
}
.main-component nav{
    position: relative;
    text-align: center;
    margin : 0 auto;
    width: 100%;
}
.nav-fill{
    display: flex;
}
.mr-auto{
    width: 100%;
}
.navbar {
    padding : .1rem;
}
.navbar-collapse.collapse {
    height : max-content!important;
}
.main-component .nav-link{
    padding: 0;
    /* border: 1px 1px 1px solid #efefef; */
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    flex : 1 1 80px;
}
.nav-detail{
    text-align: center;
    color : #fff
}
@media only screen and (max-width: 768px) {
    .mr-auto {
        width : auto; 
    };
    .main-component .nav-link {
        width: max-content;
    };
    .nav-detail{
        text-align: left;
        padding: .2rem;
    }
}
@media only screen and (min-width: 1024px) {
    .mr-auto {
        width : 100%; 
    };
    .nav-detail{
        text-align: center;
        padding: .5rem;
    }
}
.nav-link.active .nav-detail{
    color:rgb(249, 65,140)!important;
    background-color: #fff!important;
}
